<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
</head>

<body>
    <h1>Admin Panel</h1>

    <% for (const collectionName in databaseData) { %>
        <h2>
            <%= collectionName %>
        </h2>
        <table>
            <thead>
                <tr>
                    <% for (const key in databaseData[collectionName][0]) { %>
                        <th>
                            <%= key %>
                        </th>
                        <% } %>
                            <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (const document of databaseData[collectionName]) { %>
                    <tr>
                        <td>
                            <a href="/admin/details/<%= collectionName %>/<%= document._id %>">View Details</a>
                        </td>
                        <% for (const key in document) { %>
                            <td>
                                <%= document[key] %>
                            </td>
                            <% } %>
                                <td>
                                    <a href="/admin/edit/<%= collectionName %>/<%= document._id %>">Edit</a>
                                    <a href="/admin/delete/<%= collectionName %>/<%= document._id %>">Delete</a>
                                </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <a href="/admin/create/<%= collectionName %>">Add New</a>
        <% } %>

</body>

</html>