<!DOCTYPE html>
<html>

<head>
    <title>Edit Document</title>
</head>

<body>
    <h1>Edit Document in <%= collectionName %> Collection</h1>

    <form action="/admin/update/<%= collectionName %>/<%= document._id %>" method="POST">
        <% for (const key in document) { %>
            <% if (key==='sub_titles' ) { %>
                <label for="sub_titles">Sub Titles:</label><br>
                <% for (let i=0; i < document.sub_titles.length; i++) { %>
                    <%=console.log(document.sub_titles[i].value)%>
                        <input type="text" name="sub_titles[<%= i %>].value"
                            value="<%= document.sub_titles[i].value %>"><br>
                        <% } %>
                            <% } else if (key !=='_id' ) { %>
                                <label for="<%= key %>">
                                    <%= key %>:
                                </label>
                                <input type="text" name="<%= key %>" id="<%= key %>" value="<%= document[key] %>"><br>
                                <% } %>
                                    <% } %>
                                        <button type="submit">Save Changes</button>
    </form>

    <a href="/admin">Back to Admin Panel</a>
</body>

</html>